[submodule "oakd_lite/object_segmentation/yolov7/train"]
	path = oakd_lite/object_segmentation/yolov7/train
	url = https://github.com/laitathei/YOLOv7-Pytorch-Segmentation.git
	branch = oakd_development
[submodule "oakd_lite/camera_calibration/kalibr"]
	path = oakd_lite/camera_calibration/kalibr
	url = https://github.com/ethz-asl/kalibr.git
[submodule "oakd_lite/visual_inertial_odometry/VINS-Fusion"]
	path = oakd_lite/visual_inertial_odometry/VINS-Fusion
	url = https://github.com/HKUST-Aerial-Robotics/VINS-Fusion.git
[submodule "oakd_lite/object_segmentation/mask_rcnn/train/opencv_contrib"]
	path = oakd_lite/object_segmentation/mask_rcnn/train/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
